<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      Simplebet - Today I Learned
    </title>

    <link rel="stylesheet" href="https://use.typekit.net/wdg3pkv.css">
    <link rel="alternate feed" type="application/rss+xml" title="Today I Learned" href="<%= feed_path(@conn, :index) %>">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="<%= static_url(@conn, "/css/app.css") %>">
    <%= if assigns[:canonical_url] do %>
      <link rel="canonical" href="<%= @canonical_url %>">
    <% end %>
    <link rel="manifest" href="<%= web_manifest_path(@conn, :index) %>">

  </head>

  <body>

    <header class="site_head <%= if System.get_env("BANNER"), do: "has-banner" %>">
      <div>
        <h1><%= link("Today I Learned", to: post_path(@conn, :index)) %></h1>
        <h2>
          <span>
            <a href="https://twitter.com/<%= Application.get_env(:tilex, :default_twitter_handle)%>" class="twitter"> </a>
          </span>
        </h2>
      </div>
    </header>

    <main>
      <h1>500</h1>
    </main>

    <script src="<%= static_url(@conn, "/js/app.js") %>"></script>
  </body>
</html>
